<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productShowPage.css">
    <title></title>
</head>
<body>
    <nav class="nav-bar">
        <h2 class="logo">Shop</h2>
        <ul class="tabs">
            <li class="tab"><a href="/">Home</a></li>
            <li class="tab"><a href="/product">Products</a></li>
            <li class="tab"><a href="">Orders</a></li>
            <li class="tab"><a href="/cart">Cart</a></li>
            <li class="tab"><a href="">About Me</a></li>
        </ul>
        <% if(!currentUser){ %>
            <a href="/login" class="login-btn">Log in</a>
        <% }else{ %>    
            <a href="/logout" class="logout-btn">Log out</a>
        <% } %>
    </nav>

    <div class="product">
        <div class="product-details">
            <h1 class="product-name"><%= product.name %></h1>
            <p class="product-description"><%= product.description %></p>
            <div class="product-checkout">
                <h3 class="product-cost">Product Cost: $<%= product.price %></h3>
                <p class="product-quantity">Only <%= product.quantity %> left in stoc</p>
            </div>
            <form action="/cart/add/<%= product._id %>" method="post">
                <button class="addToCart">Add To Cart</button>
            </form>
        </div>
        <div class="product-image">
            <img src=<%= product.image %> alt="">
        </div>
    </div>
</body>
</html>